In [ ]:
# 1) Write a lambda function to calculate the square of a number. Use it to print the square of 8.
# 2) Create a lambda function to multiply three arguments. Use it to multiply 3, 4, and 5, then print the result.
# 3) Write a lambda function to find the maximum of two numbers. Use it to find the maximum between 10 and 20 and print the result.
# 4) Create a list of integers and use a lambda function with the filter method to filter out even numbers. Print the resulting list.

In [3]:
a=lambda a:a**2

In [4]:
print(a)

<function <lambda> at 0x0000022006EF8040>

In [6]:
a(9)

81

In [23]:
a=lambda a,b,c:a*b*c

In [24]:
a(3,4,5)

60

In [ ]:
a=lambda a*b

In [26]:
a=lambda a

In [35]:
a=[1,2,3,4,5,6,7,8,9,10]

In [41]:
number = list(filter(lambda x: x % 2 == 0, a))

In [42]:
print(number)

[2, 4, 6, 8, 10]

In [52]:
# 5) Create a class named Animal with an __init__ method that initializes species and name. Instantiate an object of this class with species "Dog" and
# name "Buddy", then print the species and name.
# 6) Create a class named Car with attributes for brand, model, and year. Add a method car_info that prints a formatted string with this information.
#Create an instance of the Car class and call the car_info method.

In [51]:
class animal:
    def __init__(self,species,name):
        self.species=species
        self.name=name

p1=animal("Dog","Buddy")
print(p1.species)
print(p1.name)

Dog
Buddy

In [66]:
class car:
    def __init__(self,brand,model,year):
        self.brand=brand
        self.model=model
        self.year=year

    def car_info(brand,model,year):
        return brand,model,year
car_info=("ford","mustang","2020")
a=car_info

In [67]:
print(a)

('ford', 'mustang', '2020')

In [70]:
# 7) Create a class named Person with an __init__ method and a method introduce that prints a greeting including the person's name. 
# Instantiate an object with the name "Alice" and call the introduce method.
# 8) Create a class named Student with attributes for name and grades (a list of grades). Add a method average_grade that returns the average of the
#grades. Create an instance of the Student class, add some grades, and print the average grade.

In [79]:
class person:
    def __init__(self,name,):
        self.name=name
    def introduce(self):
        print(f"my name is {self.name}.")
        
p1=person("alish")

In [84]:
p1.introduce()

my name is alish.

In [98]:
class Student:
    def __init__(self, name):
        self.name = name
        self.grades = 85,90,79
    def add_grade(self, grade):
        self.grades.append(grade)
    def average_grade(self):
        if len(self.grades) == 0:
            return 0
        return sum(self.grades) / len(self.grades)

student1 = Student("Shivanshu")
print(f"Average grade for {student1.name}: {student1.average_grade()}")

Average grade for Shivanshu: 84.66666666666667

In [99]:
# 9) Create a class named Book with attributes for title, author, and year_published. Add a method book_age that calculates how old 
# the book is from the current year. Create an instance of the Book class and print the age of the book.

In [123]:
class Book:
    def __init__(self,title,author,published_year):
        self.title = title
        self.author = author
        self.published_year = published_year
    
    def age(self, current_year):
        return current_year - self.published_year

a = Book("Rich Dad Poor Dad", "Robert Kiyosaki", 1997)
print(a.age(2025))

28

In [124]:
#10) Write a BankAccount class with attributes for owner and balance. Add methods for deposit and withdraw. 
#Create an instance and perform some deposits and withdrawals, then print the final balance.
#11) Create a Calculator class with methods for addition, subtraction, multiplication, and division. Use this class to perform a 
# series of calculations and print the results.

In [128]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        self.balance -= amount


account1 = BankAccount("Shiv", 1000)

account1.deposit(600)    
account1.withdraw(300)   
print("Final Balance:", account1.balance)

Final Balance: 1300

In [153]:
class calculator:
 
    def add(self,num1,num2):
        return num1 + num2
    
    def sub(self,num1,num2):
        return num1 - num2
    
    def multi(self,num1,num2):        
        return num1 * num2
    
    def dev(self,num1,num2):
        return num1 / num2
        
cal=calculator()
cal.dev(9,3)
cal.add(9,9)
cal.multi(9,9)
cal.sub(9,5)

4